.header {
    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    width: 1440px;
    height: 70px;
    margin: 0 auto;
    background: #fff;
    z-index: 9;
    transition: all .3s;

    &.fixed {
        top: 0;
        left: 0;
        width: 100%;
        transition: all .3s;
    }

    .inner {
        display: flex;
        justify-content: space-between;
        width: 1440px;
    }

    .col_left {
        display: flex;
        align-items: center;
    }

    .logo {
        position: relative;

        >a {
            display: inline-block;
            width: 139px;
            height: 22px;
            background: url(https://www.ehyundai.com/images/webhome2/logo.png) 0 0 / cover no-repeat;
            margin-left: 32px;
        }

        .btn_site {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(https://www.ehyundai.com/images/webhome2/btn_gnb_20.png) center / contain no-repeat;
            vertical-align: top;
            margin-left: 8px;
            margin-top: 2px;
        }

        .brand_list {
            position: absolute;
            top: 46px;
            left: 0;
            width: 231px;
            height: 0;
            height: 105px;
            padding: 12px 0 20px;
            background: #fff;
            box-sizing: content-box;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;

            &.show {
                opacity: 1;
                visibility: visible;
                height: 105px;
                transition: all .3s ease-in-out;
            }

            li {
                padding: 16px 0 16px 51px;

                a {
                    position: relative;
                    font-size: 18px;
                    line-height: 1.5;
                }

                a:before {
                    content: '';
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    margin: -4px 12px 0 0;
                    vertical-align: top;
                }
            }

            li~li {
                border-top: 1px solid #eaebea;
            }

            li:first-child {
                padding-top: 0;

                a:before {
                    background: url(https://www.ehyundai.com/images/webhome2/logo_hdd_gate_logo_36.png) center / contain no-repeat;
                }
            }

            li:nth-child(2) {
                a:before {
                    background: url(https://www.ehyundai.com/images/webhome2/logo_hdc_gate_logo_36.png) center / contain no-repeat;
                }
            }
        }

    }

    .gnb {
        margin-left: 16px;

        >ul {
            display: flex;
            align-items: center;
            height: 70px;

            >.depth1 {
                display: inline-block;
                height: 100%;
                line-height: 70px;
                padding: 0 16px;

                >a {
                    position: relative;
                    font-size: 14px;
                    line-height: 1.4;

                    &.on {
                        font-weight: 700;
                    }

                    &.on:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        width: 100%;
                        height: 2px;
                        background: #171a19;
                    }
                }

                .depth2 {
                    position: absolute;
                    top: 70px;
                    left: 0;
                    width: 1440px;
                    padding: 40px 0 64px;
                    background: #fff;
                    display: none;

                    &.on {
                        display: block;
                    }

                    .tit {
                        display: inline-block;
                        width: 220px;

                        p {
                            font-size: 32px;
                            font-weight: 700;
                            line-height: 1.3;
                            margin-left: 55px;
                            letter-spacing: -0.5px;
                            word-break: keep-all;
                        }
                    }

                    >ul {
                        display: inline-block;
                        margin-top: 9px;
                        vertical-align: top;


                        >li {
                            display: inline-block;
                            margin-left: 40px;
                            vertical-align: top;
                            line-height: 1;

                            >a {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 1.3;
                            }
                        }
                    }

                    .depth3 {
                        margin-top: 20px;

                        li {
                            margin-bottom: 12px;
                            line-height: initial;

                            a {
                                font-size: 14px;
                                line-height: 1.3;
                            }
                        }
                    }

                    .banner {
                        position: absolute;
                        top: 40px;
                        right: 40px;
                        width: 284px;

                        img {
                            width: 284px;
                            height: 240px;
                            object-fit: cover;
                        }
                    }
                }

            }
        }
    }

    .col_right {
        display: flex;
        align-items: center;
    }

    .dim {
        display: none;
    }

    .utils {
        >ul {
            >li {
                display: inline-block;
                padding: 0 8px;

                a {
                    color: #727573;
                    font-size: 12px;
                    line-height: 1.4;
                }

                &.language {
                    position: relative;
                    padding-right: 20px;
                    vertical-align: top;
                    margin-top: -2px;

                    >a {
                        display: block;
                        width: 40px;
                        height: 24px;
                        background: url(https://www.ehyundai.com/images/webhome2/btn_lang.png) center/ contain no-repeat;
                    }

                    ul {
                        position: absolute;
                        top: 20px;
                        left: 0px;
                        background: #fff;
                        padding: 12px;
                        overflow: hidden;
                        height: 0;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .3s ease-in;
                        box-sizing: content-box;

                        li~li {
                            padding-top: 16px;
                        }

                        a {
                            color: #171a19;
                            font-size: 12px;
                            line-height: 1.5;
                        }
                    }

                    &.on ul {
                        height: 94px;
                        visibility: visible;
                        opacity: 1;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    .search_area {
        button {
            display: flex;
            width: 190px;
            height: 70px;
            background: #171a19;
            justify-content: center;
            align-items: center;

            span {
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.3;
            }

            &:after {
                content: '';
                display: inline-block;
                margin-left: 6px;
                width: 20px;
                height: 20px;
                background: url(https://www.ehyundai.com/images/webhome2/ico_gnb_search_20.png) center / contain no-repeat;
            }

            &:hover {
                background: #00815A;
            }
        }
    }

    .all_search {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 384px;
        background: #fff;
        padding-top: 88px;
        visibility: hidden;
        opacity: 0;

        &.show {
            visibility: visible;
            opacity: 1;
        }

        &.show+.dim {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }

        .btn_close {
            position: absolute;
            top: 40px;
            left: calc(50% + 600px);
            width: 32px;
            height: 32px;
            background: url(https://www.ehyundai.com/images/webhome2/ico_close_32_black.png) center / contain no-repeat;
        }

        .form_area {
            display: flex;
            align-items: center;
            justify-content: center;

            form {
                display: flex;
                align-items: center;
                justify-content: center;

                .select {
                    height: 74px;
                    margin-right: 8px;

                    a {
                        position: relative;
                        display: block;
                        width: 288px;
                        padding: 22px 23px;
                        border: 1px solid #eaebea;

                        span {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 1.5;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 30px;
                            width: 24px;
                            height: 24px;
                            background: url(https://www.ehyundai.com/images/webhome2/ico_dropdown_24.png) center / contain no-repeat;
                        }
                    }
                }

                .search {
                    position: relative;
                    display: flex;

                    input {
                        width: 565px;
                        height: 74px;
                        border: 1px solid #eaebea;
                        padding: 0 24px;
                        font-size: 16px;

                        &::placeholder {
                            font-size: 14px;
                        }

                        &:focus {
                            border: 1px solid #171a19;
                            outline: none;
                        }
                    }

                    .btn_sch {
                        position: relative;
                        width: 74px;
                        height: 74px;
                        background: #171a19;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            background: url(https://www.ehyundai.com/images/webhome2/ico_search_32_white.png) center / contain no-repeat;
                            vertical-align: top;
                        }
                    }
                }
            }
        }

        .keyword_area {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 72px;

            h3 {
                margin-bottom: 20px;
                text-align: center;
                font-size: 28px;
                font-weight: 900;
                line-height: 1.5;
            }

            .keyword_list {
                display: flex;
                gap: 24px;

                a {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }
        }
    }
}
