@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}


input[type="button"],
input[type="text"],
input[type="image"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    background: none;
}

textarea {
    resize: none;
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

/* μ„Έν… */
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Happiness-Sans', 'Noto Sans', Arial, dotum, 'sans-serif';
    -webkit-text-size-adjust: none;
    text-decoration: none;
    color: #171A19;
    font-weight: 400;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

.container .headline {
    padding: 0 20px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: -0.5px;
}


.tag {
    position: absolute;
    top: 16px;
    left: 16px;
    padding-bottom: 3px;
    background: #171a19;

    span {
        position: relative;
        display: block;
        margin: 0 -3px 0 3px;
        padding: 2px 8px 3px;
        background: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.3;
        z-index: 3;
    }
}

.tag:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -3px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #171a19;
}
